.app-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  background: #f4f6fb;
}

.main-content {
  margin-left: 240px;
  width: calc(100% - 240px);
  height: 100vh;
  overflow-y: auto;
  background: #f4f6fb;
}
