@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wave {
  0%, 100% { height: 8px; }
  50% { height: 26px; }
}

.animate-wave-1 { animation: wave 1s infinite ease-in-out; }
.animate-wave-2 { animation: wave 1s infinite ease-in-out .1s; }
.animate-wave-3 { animation: wave 1s infinite ease-in-out .2s; }
.animate-wave-4 { animation: wave 1s infinite ease-in-out .3s; }
.animate-wave-5 { animation: wave 1s infinite ease-in-out .4s; }

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fade-in {
  animation: fadeIn 0.6s ease-in-out forwards;
}
